/* CSS for the whole body */
* {
  scroll-behavior: smooth;
}

body {
	margin: 0px;
  font-family: "Helvetica";
}

.contact-header{
  position: relative;
  top: 15px;
  margin: auto;
  text-align: center;
}