.volunteer-header{
	position: relative;
	margin: 0 auto;
	top:2px;
}

.volunteers{
	padding-top: 0px;
	margin: auto;
	margin-bottom: 0;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding-left: 20px;	
}

.row{
	width: 75%;
	margin: auto;
  /* display: flex; */
	align-items: center;
	text-align: center;
	justify-content: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns - one column layout on small screens*/
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Float four columns side by side */
/* Style the picture/column cards */
.column {
  float: left;
  width: 20%;
  padding: 10px;
  text-align: center;
  background-color: white;
  font-style: normal;
  height: 400px;
}

.text-container{
    padding: 5px;
}

.name{
  font-size: 16px;
  font-family: "Helvetica";
  color: #231F20;
}
.title{
  font-style:normal;
  font-family: "Helvetica";
  line-height: 20px;
  font-size: 14px;
  color: #231F20;
}

