.wids_detail_section{
	position: relative;
	top: 70px;
	font-family: "Helvetica";
}

.wids_details_content{
  background: #F5F5F5;
  font-style: normal;
  text-align: center;
  font-family: "Helvetica";
}

.speaker_attendees_count{
	font-family: "Helvetica";
 	color: #231F20;
	font-style: normal;
	padding: 0px;
	margin: 0;
}

.detail_count{
  display: inline-block;
  width: 6em;
  margin-right: .5em;
  font-weight: bold;

}

.detail_count_number{
	display: inline-block;
	margin: 0 auto;
	padding: 9px;
	font-size: 45px;
	width: 70px;
	position: relative;
	color: green;
}

.details_text{
  text-align: center;
  margin: auto;
  width: 70%;
  font-style:normal;
  font-family: "Helvetica";
  line-height: 25px;
  color: #231F20;
}


.about-wids-global-button{
  background-color: #00B140;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  font-style: normal;
  border-radius: 5px; /* 5px rounded corners */
}